

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>DKAN Topics &mdash; DKAN 1.13 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../genindex.html"/>
        <link rel="search" title="Search" href="../search.html"/>
    <link rel="top" title="DKAN 1.13 documentation" href="../index.html"/>
        <link rel="up" title="Major Components" href="index.html"/>
        <link rel="next" title="Fixtures and Default Content" href="fixtures.html"/>
        <link rel="prev" title="DKAN Workflow" href="workflow.html"/> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> DKAN
          

          
          </a>

          
            
            
              <div class="version">
                1.13
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../introduction/index.html">DKAN Overview</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Major Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="dataset/index.html">Datasets</a></li>
<li class="toctree-l2"><a class="reference internal" href="datastore/index.html">Datastore</a></li>
<li class="toctree-l2"><a class="reference internal" href="harvest.html">Harvester</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html">Workflow</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Topics</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#permissions">Permissions</a></li>
<li class="toctree-l3"><a class="reference internal" href="#adding-a-new-topic-term">Adding a new topic term</a></li>
<li class="toctree-l3"><a class="reference internal" href="#editing-topic-terms">Editing topic terms</a></li>
<li class="toctree-l3"><a class="reference internal" href="#removing-topics-from-the-main-menu">Removing Topics from the main menu</a></li>
<li class="toctree-l3"><a class="reference internal" href="#adding-new-icons">Adding new icons</a></li>
<li class="toctree-l3"><a class="reference internal" href="#known-issues">Known Issues</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="fixtures.html">Fixtures and Default Content</a></li>
<li class="toctree-l2"><a class="reference internal" href="federal-extras.html">Federal Extras</a></li>
<li class="toctree-l2"><a class="reference internal" href="search.html">Search</a></li>
<li class="toctree-l2"><a class="reference internal" href="theme.html">Theme</a></li>
<li class="toctree-l2"><a class="reference internal" href="permissions.html">Roles and Permissions</a></li>
<li class="toctree-l2"><a class="reference internal" href="storytelling/index.html">Storytelling</a></li>
<li class="toctree-l2"><a class="reference internal" href="open-data-schema.html">Open Data Schema Map</a></li>
<li class="toctree-l2"><a class="reference internal" href="visualizations.html">Visualizations</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../development/index.html">Extending and Customizing DKAN</a></li>
<li class="toctree-l1"><a class="reference internal" href="../apis/index.html">API Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/index.html">Releases</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">DKAN</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="index.html">Major Components</a> &raquo;</li>
      
    <li>DKAN Topics</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../_sources/components/topics.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="dkan-topics">
<h1>DKAN Topics<a class="headerlink" href="#dkan-topics" title="Permalink to this headline">¶</a></h1>
<p>While DKAN includes a free-tagging tags/keywords field for datasets, many data portals organize datasets into more predefined catagories by subject matter. These are usually a small collection of subjects with logos that are incoporated into the site navigation. Neither DKAN&#8217;s tags or &#8220;groups&#8221; (which are designed for grouping user permissions and usually represent organizational divisions) are exactly appropriate for this task.</p>
<p>The DKAN Topics module adds a &#8220;topics&#8221; vocabulary to DKAN, and corresponding functionality throughout the site. It adds a facet to the search/datasets page, and a pane to the default homepage. Topics can be administered through the standard Drupal taxonomy interface.</p>
<p>The included <a class="reference external" href="https://github.com/NuCivic/dkan/tree/7.x-1.x/modules/dkan/dkan_topics/modules/dkan_default_topics">DKAN Default Topics</a> module will add, on enable, a set of default civic topics using the <a class="reference external" href="https://github.com/NuCivic/taxonomy_fixtures">Taxonomy Fixtures</a> module.</p>
<p>DKAN Topics is enabled by default on new DKAN installations, with default terms loaded into the vocabulary. The module can be disabled and uninstalled, and all existing topics will be removed.</p>
<div class="section" id="permissions">
<h2>Permissions<a class="headerlink" href="#permissions" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li>Users with the Site Manager or Editor role can add and edit topic terms.</li>
<li>Users with the Administrator role can add new icons.</li>
</ul>
</div>
<div class="section" id="adding-a-new-topic-term">
<h2>Adding a new topic term<a class="headerlink" href="#adding-a-new-topic-term" title="Permalink to this headline">¶</a></h2>
<p>From the Administation menu, navigate to <code class="docutils literal"><span class="pre">Site</span> <span class="pre">Configuration</span> <span class="pre">&gt;</span> <span class="pre">Taxonomy</span> <span class="pre">&gt;</span> <span class="pre">Topics</span> <span class="pre">&gt;</span> <span class="pre">Add</span> <span class="pre">term</span></code></p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Name:</th><td class="field-body">Enter the term for your new topic.</td>
</tr>
<tr class="field-even field"><th class="field-name">Description:</th><td class="field-body">This field is not currently displayed publicly.</td>
</tr>
<tr class="field-odd field"><th class="field-name">Icon Type:</th><td class="field-body">DKAN Topics comes with a default set of font icons that can be used with your terms, you can upload your own font icons if desired. See Adding new icons. Or you may select to use image icons, when you toggle the image option, an image upload input field will appear.</td>
</tr>
<tr class="field-even field"><th class="field-name">Icon:</th><td class="field-body">If using font icons, select the icon you want to associate with your topic term.</td>
</tr>
<tr class="field-odd field"><th class="field-name">Icon Color:</th><td class="field-body">Icons will display the same color as text on datasets unless a specific color is selected here.</td>
</tr>
</tbody>
</table>
</div>
<div class="section" id="editing-topic-terms">
<h2>Editing topic terms<a class="headerlink" href="#editing-topic-terms" title="Permalink to this headline">¶</a></h2>
<ol class="arabic simple">
<li>From the Administation menu, navigate to <code class="docutils literal"><span class="pre">Site</span> <span class="pre">Configuration</span> <span class="pre">&gt;</span> <span class="pre">Taxonomy</span> <span class="pre">&gt;</span> <span class="pre">Topics</span></code></li>
<li>You will see a list of current topic terms, click the &#8216;edit&#8217; link under Operations that corresponds to the term you would like to edit.</li>
<li>Make changes and click &#8220;Save&#8221;.</li>
</ol>
</div>
<div class="section" id="removing-topics-from-the-main-menu">
<h2>Removing Topics from the main menu<a class="headerlink" href="#removing-topics-from-the-main-menu" title="Permalink to this headline">¶</a></h2>
<ol class="arabic simple">
<li>Navigate to <code class="docutils literal"><span class="pre">Site</span> <span class="pre">Configuration</span> <span class="pre">&gt;</span> <span class="pre">Menus</span></code></li>
<li>On the Menus screen, click &#8220;list links&#8221;</li>
<li>Uncheck the box under &#8220;Enabled&#8221; for Topics</li>
<li>Click &#8220;Save configuration&#8221;</li>
</ol>
</div>
<div class="section" id="adding-new-icons">
<h2>Adding new icons<a class="headerlink" href="#adding-new-icons" title="Permalink to this headline">¶</a></h2>
<p>The font used for Topics can only be changed if there are <strong>NO</strong> default icon values in use, only one icon font can be used at a time.</p>
<ol class="arabic simple">
<li>Navigate to <code class="docutils literal"><span class="pre">Configuration</span> <span class="pre">&gt;</span> <span class="pre">Content</span> <span class="pre">Authoring</span> <span class="pre">&gt;</span> <span class="pre">Font</span> <span class="pre">Icon</span> <span class="pre">Select</span> <span class="pre">Options</span></code></li>
<li>Click &#8220;Upload New Library&#8221;</li>
<li>Enter a title for your new font option</li>
<li>Upload the four files for your font</li>
<li>Click &#8220;Save&#8221;</li>
<li>Navigate to <code class="docutils literal"><span class="pre">Structure</span> <span class="pre">&gt;</span> <span class="pre">Taxonomy</span> <span class="pre">&gt;</span> <span class="pre">Topics</span> <span class="pre">&gt;</span> <span class="pre">Manage</span> <span class="pre">Fields</span> <span class="pre">&gt;</span> <span class="pre">Icon</span></code></li>
<li>Select your font from the font dropdown in the Icon field settings section.</li>
<li>Click &#8220;Save settings&#8221;</li>
</ol>
</div>
<div class="section" id="known-issues">
<h2>Known Issues<a class="headerlink" href="#known-issues" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li>This module adds a main menu link for &#8220;Topics&#8221;. If you want a different word in place of &#8220;Topics&#8221;, you can change the name in the main menu configuration but the icons in the dropdown will stop working. If you use <a class="reference external" href="https://www.drupal.org/project/stringoverrides">String Overrrides</a> you can change the Menu link title and the icons will continue to work, however the facet block title and the dataset form field title will still display as &#8216;Topics&#8217;.</li>
<li>Adding a new icon font for use with topics <strong>needs work</strong> to keep the icon functionality in facets and menus from breaking.</li>
</ul>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="fixtures.html" class="btn btn-neutral float-right" title="Fixtures and Default Content" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="workflow.html" class="btn btn-neutral" title="DKAN Workflow" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2017.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'1.13',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>