

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Panelized pages &mdash; DKAN 1.13 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../../genindex.html"/>
        <link rel="search" title="Search" href="../../search.html"/>
    <link rel="top" title="DKAN 1.13 documentation" href="../../index.html"/>
        <link rel="up" title="Content and Storytelling Tools" href="index.html"/>
        <link rel="next" title="Data Stories" href="data-story.html"/>
        <link rel="prev" title="Content and Storytelling Tools" href="index.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> DKAN
          

          
          </a>

          
            
            
              <div class="version">
                1.13
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../introduction/index.html">DKAN Overview</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Major Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../dataset/index.html">Datasets</a></li>
<li class="toctree-l2"><a class="reference internal" href="../datastore/index.html">Datastore</a></li>
<li class="toctree-l2"><a class="reference internal" href="../harvest.html">Harvester</a></li>
<li class="toctree-l2"><a class="reference internal" href="../workflow.html">Workflow</a></li>
<li class="toctree-l2"><a class="reference internal" href="../topics.html">Topics</a></li>
<li class="toctree-l2"><a class="reference internal" href="../fixtures.html">Fixtures and Default Content</a></li>
<li class="toctree-l2"><a class="reference internal" href="../federal-extras.html">Federal Extras</a></li>
<li class="toctree-l2"><a class="reference internal" href="../search.html">Search</a></li>
<li class="toctree-l2"><a class="reference internal" href="../theme.html">Theme</a></li>
<li class="toctree-l2"><a class="reference internal" href="../permissions.html">Roles and Permissions</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Storytelling</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="#">Panelized pages</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#using-the-in-place-editor-ipe">Using the in-place editor (IPE)</a></li>
<li class="toctree-l4"><a class="reference internal" href="#featured-group-grid-pane">Featured Group Grid Pane</a></li>
<li class="toctree-l4"><a class="reference internal" href="#dataset-list-filtered-by-group-and-or-tag">Dataset list filtered by group and/or tag</a></li>
<li class="toctree-l4"><a class="reference internal" href="#dkan-pages-that-can-be-managed-through-the-in-place-editor">DKAN Pages that can be managed through the In-Place Editor</a></li>
<li class="toctree-l4"><a class="reference internal" href="#data-dashboards-and-the-in-place-editor">Data Dashboards and the In-Place Editor</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="data-story.html">Data Stories</a></li>
<li class="toctree-l3"><a class="reference internal" href="blog-comment.html">Blog and Comment Modules</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../open-data-schema.html">Open Data Schema Map</a></li>
<li class="toctree-l2"><a class="reference internal" href="../visualizations.html">Visualizations</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../development/index.html">Extending and Customizing DKAN</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../apis/index.html">API Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../releases/index.html">Releases</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../index.html">DKAN</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../index.html">Major Components</a> &raquo;</li>
      
          <li><a href="index.html">Content and Storytelling Tools</a> &raquo;</li>
      
    <li>Panelized pages</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../_sources/components/storytelling/pages.md.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="panelized-pages">
<span id="panelized-pages"></span><h1>Panelized pages<a class="headerlink" href="#panelized-pages" title="Permalink to this headline">¶</a></h1>
<p>DKAN uses <a class="reference external" href="https://www.drupal.org/project/panels">Panels</a> as a layout manager for all pages. Panels lets the site editor lay out page elements called &#8220;panes.&#8221; These are essentially the same as <a class="reference external" href="https://www.drupal.org/documentation/blocks">&#8220;blocks&#8221; in the Context and core Blocks modules</a>, and all blocks are available as panes within Panels. Depending on the page you&#8217;re working one, however, certain additional panes may also be available that would not appear as blocks outside of Panels. Note that in many Panels dialogs the words &#8220;pane&#8221; and &#8220;content&#8221; are used interchangeably.</p>
<div class="section" id="using-the-in-place-editor-ipe">
<span id="using-the-in-place-editor-ipe"></span><h2>Using the in-place editor (IPE)<a class="headerlink" href="#using-the-in-place-editor-ipe" title="Permalink to this headline">¶</a></h2>
<p>All panelized pages give higher user roles access to the Panels In-Place Editor (IPE) interface. See <a class="reference external" href="#">Drupal&#8217;s documentation for more information on this tool</a>.</p>
<div class="section" id="dkan-s-customized-ipe-interface">
<span id="dkan-s-customized-ipe-interface"></span><h3>DKAN&#8217;s customized IPE interface<a class="headerlink" href="#dkan-s-customized-ipe-interface" title="Permalink to this headline">¶</a></h3>
<p>[Placeholder for explanation of the custom IPE thing]</p>
</div>
<div class="section" id="altering-properties-of-existing-components-in-panels-based-pages">
<span id="altering-properties-of-existing-components-in-panels-based-pages"></span><h3>Altering properties of existing components in Panels-based pages<a class="headerlink" href="#altering-properties-of-existing-components-in-panels-based-pages" title="Permalink to this headline">¶</a></h3>
<p>Go to a page managed by a Panels layout (in this case the DKAN homepage) and click &#8220;Customize this page&#8221;:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-1.png" /></p>
<p>Use the drag and drop controls to rearrange a given pane:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-2_0.png" /></p>
<p>Save changes:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-4.png" /></p>
<p>The updated page gets rendered:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-5.png" /></p>
</div>
<div class="section" id="adding-new-panes-to-panels-based-pages">
<span id="adding-new-panes-to-panels-based-pages"></span><h3>Adding new panes to Panels-based pages<a class="headerlink" href="#adding-new-panes-to-panels-based-pages" title="Permalink to this headline">¶</a></h3>
<p>Go to a page managed by a panel layout and click <strong>Customize this page</strong>:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-5.png" /></p>
<p>Click the &#8220;plus&#8221; sign (&#8220;+&#8221;) to add a new pane to any given panel region:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-5a_0.png" /></p>
<p>Select which pane to add:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-5aa_0.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-5b_0.png" /></p>
<p>New pane is added to layout on save:</p>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-5c_0.png" /></p>
</div>
<div class="section" id="altering-the-layout-of-an-existing-page">
<span id="altering-the-layout-of-an-existing-page"></span><h3>Altering the layout of an existing page<a class="headerlink" href="#altering-the-layout-of-an-existing-page" title="Permalink to this headline">¶</a></h3>
<p>Go to the page that need changes and click <strong>Change Layout</strong>:
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/alter-1.png" /></p>
<p>Select new layout:
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/alter-2.png" /></p>
<p>Choose where existing panes belong in the new layout:
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/alter-3_0.png" /></p>
<p>Click Save and enjoy the new page:
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/alter-4.png" /></p>
</div>
</div>
<div class="section" id="featured-group-grid-pane">
<span id="featured-group-grid-pane"></span><h2>Featured Group Grid Pane<a class="headerlink" href="#featured-group-grid-pane" title="Permalink to this headline">¶</a></h2>
<p>![Featured groups display][Featured groups display]
DKAN comes with a featured groups grid pane that you can add to any panelized page. To add it,</p>
<ol class="simple">
<li>Select the region where you want to add featured groups, and click the upper left gear and select &#8216;Add Content’.</li>
<li>On the overlay that appears, select the ‘View panes’ category on the left, then click the ‘+Add’ button on the Featured Group grid pane option.</li>
<li>The next screen will ask how many groups to display. The grid is 6 columns wide so enter 6, 12, 18, or 0 to display all groups. Click ‘Finish’ to save.</li>
<li>Then click the ‘Update and save’ on the panel configuration screen.</li>
</ol>
<p>![Select the featured groups pane][Select the featured groups pane]
![Enter the number of groups][Enter the number of groups]</p>
<p>To change the order in which the groups display, navigate to the <code class="docutils literal"><span class="pre">[siteroot]/admin/dkan/featured-groups-sort-order</span></code> screen. You should see a link to it in the black Administration Menu Bar at the top under DKAN.
![Change the order of the groups][Change the order of the groups]</p>
</div>
<div class="section" id="dataset-list-filtered-by-group-and-or-tag">
<span id="dataset-list-filtered-by-group-and-or-tag"></span><h2>Dataset list filtered by group and/or tag<a class="headerlink" href="#dataset-list-filtered-by-group-and-or-tag" title="Permalink to this headline">¶</a></h2>
<p>If you would like to add a list of datasets filtered by a specific group or by a certain tag, follow these steps:</p>
<ol class="simple">
<li>Select the region where you want to add the dataset list, and click the upper left gear and select &#8216;Add Content’.</li>
<li>On the overlay that appears, select the ‘View panes’ category on the left, then click the ‘+Add’ button on the Custom Filtered Dataset List option.</li>
<li>The next screen show the settings for the panel. You can set a custom title, set the pager, filter by group or by tag. Click ‘Finish’ to save.</li>
<li>Then click the ‘Update and save’ on the panel configuration screen.
![Add a filtered dataset list][Add a filtered dataset list]
![Adjust the list settings][Adjust the list settings]</li>
</ol>
</div>
<div class="section" id="dkan-pages-that-can-be-managed-through-the-in-place-editor">
<span id="dkan-pages-that-can-be-managed-through-the-in-place-editor"></span><h2>DKAN Pages that can be managed through the In-Place Editor<a class="headerlink" href="#dkan-pages-that-can-be-managed-through-the-in-place-editor" title="Permalink to this headline">¶</a></h2>
<p>In addition to the front page, the following pages have been converted to panels in the DKAN distribution s far:</p>
<div class="section" id="datasets-page">
<span id="datasets-page"></span><h3>Datasets Page<a class="headerlink" href="#datasets-page" title="Permalink to this headline">¶</a></h3>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-6.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-7.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-8.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-9.png" /></p>
</div>
<div class="section" id="dataset-page">
<span id="dataset-page"></span><h3>Dataset Page<a class="headerlink" href="#dataset-page" title="Permalink to this headline">¶</a></h3>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-10.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-11.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-12.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-13.png" />
<img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/panels-14.png" /></p>
</div>
</div>
<div class="section" id="data-dashboards-and-the-in-place-editor">
<span id="data-dashboards-and-the-in-place-editor"></span><h2>Data Dashboards and the In-Place Editor<a class="headerlink" href="#data-dashboards-and-the-in-place-editor" title="Permalink to this headline">¶</a></h2>
<p>Data dashboards are blank panelized pages that can be filled in with any available widgets. If you want to easily create dashboard pages you can use the &#8220;Data Dashboard&#8221; content type provided by DKAN as shown on the following steps:</p>
<ol class="simple">
<li>Go to the Data Dashboards section following DKAN &gt; Data Dashboards on the navigation menu.</li>
<li>Click on &#8216;Create Dashboard&#8217;.</li>
<li>Fill in the data dashboard title and choose the desired layout.</li>
</ol>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/data_dashboards_01.png" /></p>
<ol class="simple">
<li>Click &#8216;Save&#8217; and that&#8217;s it! After the data dashboard is created you can start adding content to the page using the IPE editor.</li>
</ol>
<p><img alt="Managed page" src="http://docs.getdkan.com/sites/default/files/data_dashboards_02.png" /></p>
<!-- Images -->
[Featured groups display]: 
[Select the featured groups pane]: http://docs.getdkan.com/sites/default/files/featured-groups-pane.png
[Enter the number of groups]: http://docs.getdkan.com/sites/default/files/featured-groups-items.png
[Change the order of the groups]: http://docs.getdkan.com/sites/default/files/featured-groups-sort.png
[Add a filtered dataset list]: http://docs.getdkan.com/sites/default/files/filtered-dataset-add.png
[Adjust the list settings]: http://docs.getdkan.com/sites/default/files/filtered-dataset-settings.png</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="data-story.html" class="btn btn-neutral float-right" title="Data Stories" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="index.html" class="btn btn-neutral" title="Content and Storytelling Tools" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2017.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'1.13',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>